@import '../../styles/variables';

.checkCalcSection{
  width: 650px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.checkCalcSection__icon{
  width: 100px !important;
  height: 100px !important;
  color: $color-brown;
}

.checkCalcSection__texts{
  text-align: center;
}

.checkCalcSection__texts__header{
  font-family: $font-mont;
  font-size: $font-l;
  margin-bottom: 10px;
}

.checkCalcSection__texts__description{
  font-family: $font-lato;
  font-size: $font-s;
}