@import '../../styles/variables';

.navbar {
  z-index: 420;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.navbar__img {
  height: 100px;
}

.navbar__nav {
  height: 100%;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar__nav__item {
  font-family: $font-mont;
  font-size: $font-s;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 2px;
}

.navbar__nav__item--active {
  font-weight: 600;
  color: $color-brown !important;
}

.navbar__nav__item::after {
  content: "";
  position: relative;
  top: -1px;
  left: 0;
  background: $color-brown;
  display: block;
  height: 2px;
  transition: $transision-snap;
  width: 0;
}

.navbar__nav__item:hover::after {
  width: 100%;
}