@import '../styles/variables';

.card{
  width: 380px;
  margin-bottom: 50px;
}

.card__img{
  border-radius: $b-radius;
  margin-bottom: 15px;
  opacity: 0.9;
  transition: 0.2s ease-in;
  object-fit: cover;
    &:hover{
      opacity: 1;
    }
}

.card__title{
  font-size: $font-s;
  color: $color-brown;
  font-weight: 500;
  font-family: $font-mont;
  margin-bottom: 5px;
}

.card__header{
  font-family: $font-mont;
  font-size: $font-m;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: $color-black;
  transition: 0.2s ease-in;
  cursor: pointer;
    &:hover{
      color: $color-brown;
    }
}

.card__description{
  font-family: $font-lato;
  font-size: $font-xs;
  color: $color-muted-text;
  line-height: 22px;
  width: 75%;
}