@import '../styles/variables';

.card{
  width: 380px;
  margin-bottom: 100px;
}

.card__img{
  border-radius: 5px;
  margin-bottom: 15px;
}

.card__title{
  font-size: $font-s;
  color: $color-brown;
  font-weight: 500;
  font-family: $font-mont;
  margin-bottom: 5px;
}

.card__header{
  font-family: $font-mont;
  font-size: $font-m;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__description{
  font-family: $font-lato;
  font-size: $font-xs;
  color: $color-muted-text;
  line-height: 22px;
}