@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600&display=swap');

// Fonts
$font-mont: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;
// Sizes
$font-xs: 14px;
$font-s: 17px;
$font-m: 26px;
$font-l: 34px;
$font-xl: 68px;

// Border
$b-radius: 3px;

// Colors
$color-white: #fff;
$color-black: #333;
$color-grey: #7d7d7d3b;
$color-brown: #957046;

$color-muted-text: #aaa;
$color-shade-light: rgba(174, 174, 174, 0.593);

// Transision
$transision-snap: 0.2s ease-in;