@import './variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-decoration: none;
}

body{
  background: $color-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar{
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}