@import './variables';

.introContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
  text-align: center;
  font-family: $font-mont;
}

.introContainer__header {
  font-size: $font-xxl;
  font-weight: 600;
}

.introContainer__description {
  font-family: $font-lato;
  font-size: $font-m;
  font-weight: 400;
  line-height: 43px;
  margin-bottom: 40px;
}

.introContainer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.introContainer__imageCover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: $color-black;
  z-index: -1;
}

.secondContainer {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.secondContainer__section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallaxImageContainer {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.parallaxImageContainer__img {
  width: 100%;
  height: 200%;
  object-fit: cover;
  scale: 0.8;
  position: absolute;
}

.parallaxImageContainer__cover {
  width: 100%;
  height: 100%;
  z-index: 1;
  background: $color-shade-light;
  position: absolute;
}

.thirdContainer{
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}