@import '../styles/variables';

.offerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offerContainer__header {
  margin-top: $navbar-height;
  padding-top: 90px;
  margin-bottom: 60px;
  width: 990px;
  text-align: center;
  font-family: $font-mont;
  font-size: $font-l;
  font-weight: 500;
}